.notify.notice {
    display: block;
    padding: 10px;
    margin: 0;
    text-align: center;
    color: black;
    background: lightgreen;    
    border: 1px solid green;
}


.notify.alert {
    display: block;
    padding: 10px;
    margin: 0;    
    text-align: center;
    color: black;
    background: lightcoral;
    border: 1px solid red;
}